<div class="bg-white p-6 rounded-lg">
  <h2 class="text-2xl font-bold mb-4">Employees</h2>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
      Email
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="phonenumber">
      Phone Number
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phonenumber" type="text" placeholder="Phone Number">
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="linkedin">
      LinkedIn
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="linkedin" type="text" placeholder="LinkedIn">
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="twitter">
      Twitter
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="twitter" type="text" placeholder="Twitter">
  </div>

  <div class="mt-4 flex justify-end">
    <button type="button" class="bg-gray-500 text-white px-6 py-2 mr-5 rounded-lg" hx-get="/step2" hx-target="#step-content" id="step-back-2">Back</button>
    <button type="button" class="bg-teal-500 text-white px-6 py-2 rounded-lg" id="step-last">Submit</button>
  </div>
</div>
